vscode-userdata:/home/mcliff/.config/Code%20-%20OSS/User/globalStorage/tboby.cwtools-vscode/.cwtools/ck3.cwb
vscode-userdata:/home/mcliff/.config/Code%20-%20OSS/User/globalStorage/tboby.cwtools-vscode/.cwtools/ck3
cwtools-ck3-config-master
secrets_of_the_higher_mysteries_agot.code-workspace